<template>
    <div id="front">
        <h1>Fibonacci Front </h1>

        <h2>Calculé sur le client, pas d'appel serveur :</h2>
        <h3>
            Limite haute de la suite
            <span v-if="maxNumber >= 1">{{ maxNumber }}</span>
            <span v-else>0</span>
        </h3>

        <label for="maxNumber">Nombre maximum</label><br>
        <input type="text" id="maxNumber" name="maxNumber" v-model="maxNumber" @keyup.enter="getList"/>
        <input type="button" value="Un de moins" v-on:click="oneLess"/>
        <input type="button" value="Un de plus" v-on:click="oneMore"/>

        <div v-for="number in liste" :key="number">
            {{ number }}<br>
        </div>
    </div>
</template>

<script>
    export default {
        name: "FiboFront",
        data: function () {
            return {
                maxNumber: null,
                liste: []

            };
        },

        methods: {
            getList() {
                this.maxNumber = document.getElementById("maxNumber").value;
                if (
                    (this.maxNumber >= this.liste[this.liste.length - 2] + this.liste[this.liste.length - 1])
                    || ((this.liste.length < 2) && (this.maxNumber >= 1))
                ) {
                    while ((this.maxNumber >= this.liste[this.liste.length - 2] + this.liste[this.liste.length - 1])
                    || (this.liste.length < 2)) {
                        this.oneMore();
                    }
                } else if ((this.maxNumber < this.liste[this.liste.length - 1]) && (this.liste.length >= 2)) {
                    while (this.maxNumber < this.liste[this.liste.length - 1]) {
                        this.oneLess();
                    }
                }
            },
            oneMore() {
                if (this.liste.length < 2) {
                    this.liste.push(1);
                } else {
                    this.liste.push(this.liste[this.liste.length - 2] + this.liste[this.liste.length - 1]);
                }
            },
            oneLess() {
                this.liste.splice(-1, 1);
            },
        },
        watch: {
            maxNumber() {
                this.getList();
            }
        }
    }
</script>

<style scoped>

</style>