<template>
    <div id="back">
        <h1>Fibonacci Back </h1>

        <h2>Calculé sur le client, pas d'appel serveur :</h2>
        <h3>
            Limite haute de la suite
            <span v-if="maxNumberBack >= 1">{{ maxNumberBack }}</span>
            <span v-else>0</span>
        </h3>

        <label for="maxNumberBack">Nombre maximum</label><br>
        <input type="text" id="maxNumberBack" name="maxNumberBack" v-model="maxNumberBack" @keyup.enter="getList"/>
        <input type="button" value="Un de moins" v-on:click="oneLess"/>
        <input type="button" value="Un de plus" v-on:click="oneMore"/>

        <div v-for="number in liste" :key="number">
            {{ number }}<br>
        </div>
    </div>
</template>

<script>
    export default {

        name: "FiboBack",
        data: function () {
            return {
                maxNumberBack: null,
                liste: []
            }
        },
        methods: {

            getList() {
                const axios = require('axios');
                let maxNum = this.maxNumberBack ?? 0;
                axios
                    .get('http://localhost:8081/getAll/' + maxNum)
                    .then(response => (this.liste = response.data))
                    .catch(error => console.log(error))
            },
            oneMore() {
                const axios = require('axios');
                axios
                    .get('http://localhost:8081/goToNext/' + this.liste.length)
                    .then(response => (this.liste = response.data))
                    .catch(error => console.log(error))
            },
            oneLess() {
                const axios = require('axios');
                axios
                    .get('http://localhost:8081/goToPrev/' + this.liste.length)
                    .then(response => (this.liste = response.data))
                    .catch(error => console.log(error))
            },
        },
        watch: {
            maxNumberBack() {
                this.getList();
            }
        }
    }
</script>

<style scoped>

</style>