<script>
    import FiboFront from './components/FiboFront.vue'
    import FiboBack from './components/FiboBack.vue'

    export default {
        name: 'App',
        components: {
            FiboFront, FiboBack
        }
    }
</script>

<template>
    <div id="app">
        <FiboFront/>
        <FiboBack/>
    </div>
</template>

<style scoped>
    #app {
        display: flex;
        justify-content: space-around;
    }

    #app div:first-of-type {
        margin-right: 20px;
    }
</style>